* {
	margin: 0vw;
	padding: 0vw;
}
html {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}
h1 {
	font-size: 12vw;
	margin: 6vw;
	color: hsla(0, 0%, 95%, 1);
}
body {
	margin: 2% 10% 0 10%;
	background: url("../img/bergen.png");/*Gives site the background with the picture of Bryggen, Bergen*/
	background-repeat: no-repeat;		
	background-position: top left;
	background-attachment: 	fixed;
	background-size: 100% 100%;
}
body header {
	height: auto;
	font-size: 2vw;
	width: 100%;
}
body section {
	margin: 0 10% 0 10%;
	width: 80%;
}
/*The paragraphs in each section containing the poem*/
body section p {
	font-size: 2vw;
	text-shadow: 0.1vw 0.1vw black;
	top: 7vw;
	width: 48%;
	position: relative;
	float: left;
	color: white;
	background-color: hsla(0, 0%, 24%, 0.4);
	border: 0.1vw solid black;
}
/*Figure including image and figure caption*/
body section figure {
	top: 1.5vw;
	width: 50%;
	left: -2vw;
  	position: relative;
	display: inline-block;
	vertical-align: top;
	z-index: 100;
}
/*Images in the figures in the sections*/
body section figure img {
	margin-bottom: 1vw;
	width: 100%;
	float: left;
	position: relative;
	-webkit-box-shadow: 0.1vw 0.1vw 1.2vw 0.2vw hsla(0, 0%, 0%, 0.8);
	-moz-box-shadow: 0.1vw 0.1vw 1.2vw 0.2vw hsla(0, 0%, 0%, 0.8);
	box-shadow: 0.1vw 0.1vw 1.2vw 0.2vw hsla(0, 0%, 0%, 0.8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	filter: sepia(100%);
    -webkit-filter: sepia(100%);
}
/*The image text that appares on img:hover*/
body section figure figcaption {
	font-size: 1.2vw;
  	color: white;
  	width: 100%;
  	position: relative;
  	background: transparent;
}
/*Button top left corner*/
button {
	font-size: 0.9vw;
	font-family: "Courier New", Courier, monospace ;
  	font-weight: bold;
  	color: hsla(0, 0%, 90%, 0.8);
  	text-decoration: none;
  	width: 8vw;
  	top: 0.5vh;
  	left: 0.5vh;
  	position: fixed;
  	padding: 0.5vw 0.5vw;
  	background: transparent;
  	border: 0.2vw solid hsla(0, 0%, 90%, 0.8);
  	cursor: pointer;
  	transition-duration: 0.2s;
  	-webkit-transition-duration: 0.2s;
}/* https://www.goodfreephotos.com/norway/bergen/overlooking-the-city-of-bergen-in-the-1800s.jpg.php */
button:hover {
	-webkit-box-shadow: 0.1vw 0.1vw 0.2vw 0.1vw hsla(0, 0%, 95%, 0.4);
	-moz-box-shadow: 0.1vw 0.1vw 0.2vw 0.1vw hsla(0, 0%, 95%, 0.4);
	box-shadow: 0.1vw 0.1vw 0.2vw 0.1vw hsla(0, 0%, 95%, 0.4);
}
button::-moz-focus-inner{
  	padding: 0vw;
  	border: 0vw;
}
/*Footer*/
footer {
	font-size: 1vw;
	margin: 4vw;
	width: 100%;
	height: 5vw;
	top: 2vw;
	position: relative;
}
/*Footer link back to top*/
footer a {
	font-weight: bold;
	color: hsla(0, 0%, 0%, 1);
	text-decoration: none;
	border: 0.3vh solid hsla(0, 0%, 0%, 0.8);
	background-color: hsla(0, 0%, 100%, 0.4);
	padding: 1vw;
	right: 20vw;
	position: relative;
}
footer a:hover {
	-webkit-box-shadow: 0.1vw 0.1vw 0.2vw 0.1vw hsla(0, 0%, 0%, 0.8);
	-moz-box-shadow: 0.1vw 0.1vw 0.2vw 0.1vw hsla(0, 0%, 0%, 0.8);
	box-shadow: 0.1vw 0.1vw 0.2vw 0.1vw hsla(0, 0%, 0%, 0.8);
}
#el1, #el2, #el3, #el4 {
	margin-top: 4vw; 
	height: 25vw;
	background-color: hsla(0, 0%, 10%, 0.7);
	-webkit-box-shadow: 0.1vw 0.1vw 1vw 0.2vw hsla(0, 0%, 100%, 0.6);
	-moz-box-shadow: 0.1vw 0.1vw 1vw 0.2vw hsla(0, 0%, 100%, 0.6);
	box-shadow: 0.1vw 0.1vw 1vw 0.2vw hsla(0, 0%, 100%, 0.6);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-top: 0.8vw solid hsla(0, 0%, 7%, 0.8);
}
/*Switches stylesheet with the click of a button*/
#stylesheet2 {
	visibility: hidden;
	z-index: -100;
	float: left;
}
#stylesheet1 {
	visibility: visible;
}
/*Changes the layout to adapt to smaller screens*/
@media screen and (max-width: 650px) {
    body section {
    	margin: 2% -5% 0 -5%;
    	width: 110%;
    	position: relative;
    }
    body section p {
    	font-size: 2.4vw;
    	border: 0.05vw solid;
		border-color: black;
		top: 10vw;
    }
    body section figure {
    	left: -6vw;
    }
     body section figure img {
    	width: 110%;
    	left: 1vw;
    }
    button {
    	font-size: 1.8vw;
		width: 15vw;
    	position: absolute;
    }
    body section figure figcaption {
    	font-size: 1.9vw;
    	left: 2vw;
    	padding: 1em;
    }
    #el1, #el2, #el3, #el4 {
    	height: 34vw;
    	margin-top: 2vw;
    }
}
